# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# visual studio stuff
*.vcxproj
*.vcxproj.*
*.sln
/.vs
/x86
/x86_64
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
notes.md
niknaks/lua/includes/modules/niknaks.lua
niknaks/lua/niknaks/framework/sh_localbsp.lua
niknaks/lua/niknaks/modules/sh_bitbuffer.lua
niknaks/lua/niknaks/modules/sh_bsp_brushes.lua
niknaks/lua/niknaks/modules/sh_bsp_entities.lua
niknaks/lua/niknaks/modules/sh_bsp_faces.lua
niknaks/lua/niknaks/modules/sh_bsp_leafs.lua
niknaks/lua/niknaks/modules/sh_bsp_module.lua
niknaks/lua/niknaks/modules/sh_bsp_pvspas.lua
niknaks/lua/niknaks/modules/sh_bsp_staticprops.lua
niknaks/lua/niknaks/modules/sh_bsp_trace.lua
niknaks/lua/niknaks/modules/sh_color_extended.lua
niknaks/lua/niknaks/modules/sh_datapackage.lua
niknaks/lua/niknaks/modules/sh_datetime.lua
niknaks/lua/niknaks/modules/sh_enums.lua
niknaks/lua/niknaks/modules/sh_file_extended.lua
niknaks/lua/niknaks/modules/sh_hooks.lua
niknaks/lua/niknaks/modules/sh_linq_module.lua
niknaks/lua/niknaks/modules/sh_model_extended.lua
niknaks/lua/niknaks/modules/sh_randomizer.lua
niknaks/lua/niknaks/modules/sh_soundmodule.lua
niknaks/lua/niknaks/modules/sh_timedelta.lua
niknaks/lua/niknaks/modules/sh_util_extended.lua
niknaks/lua/unittest/niknaks/bitbuffer.lua
niknaks/lua/unittest/niknaks/bsp.lua
niknaks/lua/unittest/niknaks/color.lua
niknaks/lua/unittest/niknaks/linq.lua
niknaks/lua/unittest/niknaks/main.lua
64archive/dxvk.conf
64archive/rtx.conf
